<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVCaptureSessionPresetCommon</key>
	<dict>
		<key>soun</key>
		<dict>
			<key>org.3gpp.adaptive-multi-rate-audio</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1935764850</integer>
				<key>AVSampleRateKey</key>
				<integer>8000</integer>
			</dict>
			<key>public.aifc-audio</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1819304813</integer>
				<key>AVLinearPCMIsBigEndianKey</key>
				<true/>
			</dict>
			<key>public.aiff-audio</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1819304813</integer>
				<key>AVLinearPCMIsBigEndianKey</key>
				<true/>
			</dict>
			<key>com.microsoft.waveform-audio</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1819304813</integer>
				<key>AVLinearPCMIsBigEndianKey</key>
				<false/>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1633772320</integer>
			</dict>
			<key>public.3gpp</key>
			<dict>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>24000</integer>
				<key>AVFormatIDKey</key>
				<integer>1633772320</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1633772320</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1633772320</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1633772320</integer>
			</dict>
		</dict>
		<key>vide</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoCodecKey</key>
				<string>avc1</string>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeFit</string>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetPhoto</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoCodecKey</key>
				<string>jpeg</string>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1819304813</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1819304813</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetHigh</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetMedium</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoWidthKey</key>
				<integer>480</integer>
				<key>AVVideoHeightKey</key>
				<integer>480</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>700000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>public.aifc-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>22050</integer>
			</dict>
			<key>public.aiff-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>22050</integer>
			</dict>
			<key>com.microsoft.waveform-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>22050</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetLow</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>ConnectionProperties</key>
			<dict>
				<key>videoMinFrameDuration</key>
				<dict>
					<key>epoch</key>
					<integer>0</integer>
					<key>flags</key>
					<integer>1</integer>
					<key>timescale</key>
					<integer>15</integer>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoWidthKey</key>
				<integer>192</integer>
				<key>AVVideoHeightKey</key>
				<integer>192</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>128000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>public.aifc-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>11025</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>public.aiff-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>11025</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>com.microsoft.waveform-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>11025</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>24000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>24000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>24000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>24000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetiFrame1280x720</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>ConnectionProperties</key>
			<dict>
				<key>videoMinFrameDuration</key>
				<dict>
					<key>epoch</key>
					<integer>0</integer>
					<key>flags</key>
					<integer>1</integer>
					<key>timescale</key>
					<integer>30000</integer>
					<key>value</key>
					<integer>1001</integer>
				</dict>
				<key>videoMaxFrameDuration</key>
				<dict>
					<key>epoch</key>
					<integer>0</integer>
					<key>flags</key>
					<integer>1</integer>
					<key>timescale</key>
					<integer>30000</integer>
					<key>value</key>
					<integer>1001</integer>
				</dict>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoWidthKey</key>
				<integer>1280</integer>
				<key>AVVideoHeightKey</key>
				<integer>720</integer>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>40000000</integer>
					<key>MaxKeyFrameInterval</key>
					<integer>1</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_4_1</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>2</integer>
				<key>AVSampleRateKey</key>
				<integer>48000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetiFrame960x540</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>ConnectionProperties</key>
			<dict>
				<key>videoMinFrameDuration</key>
				<dict>
					<key>epoch</key>
					<integer>0</integer>
					<key>flags</key>
					<integer>1</integer>
					<key>timescale</key>
					<integer>30000</integer>
					<key>value</key>
					<integer>1001</integer>
				</dict>
				<key>videoMaxFrameDuration</key>
				<dict>
					<key>epoch</key>
					<integer>0</integer>
					<key>flags</key>
					<integer>1</integer>
					<key>timescale</key>
					<integer>30000</integer>
					<key>value</key>
					<integer>1001</integer>
				</dict>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoWidthKey</key>
				<integer>960</integer>
				<key>AVVideoHeightKey</key>
				<integer>540</integer>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>30000000</integer>
					<key>MaxKeyFrameInterval</key>
					<integer>1</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_4_1</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>2</integer>
				<key>AVSampleRateKey</key>
				<integer>48000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset320x240</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoWidthKey</key>
				<integer>320</integer>
				<key>AVVideoHeightKey</key>
				<integer>240</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>875000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset352x288</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoWidthKey</key>
				<integer>352</integer>
				<key>AVVideoHeightKey</key>
				<integer>288</integer>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>1155000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset640x480</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoWidthKey</key>
				<integer>640</integer>
				<key>AVVideoHeightKey</key>
				<integer>480</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>3500000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Main_3_0</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset960x540</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoWidthKey</key>
				<integer>960</integer>
				<key>AVVideoHeightKey</key>
				<integer>540</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>5906256</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Main_3_1</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset1280x720</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoWidthKey</key>
				<integer>1280</integer>
				<key>AVVideoHeightKey</key>
				<integer>720</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>10500000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Main_3_1</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
